<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="img/mt.png" type="image/png">
	<title>Myat Thura Soe</title>
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<body>
	<div class="nav">
		<!-- <div class="nickname">
			<span><a href="">Myat Thura Soe</a></span>
		</div> -->
		<div class="nickname">
			<img src="img/namelogo4.png">
		</div>
		<div class="menu-container">
			<div class="menu">
				<span><a href="#home">Home</a></span>
				<span><a href="#about">about</a></span>
				<span><a href="#skills">Skills</a></span>
				<!-- <span><a href="#services">Services</a></span> -->
				<span><a href="#contact">Contact</a></span>
			</div>
			<div class="menu-button">
				<img src="img/menuicon.png">
			</div>
			<div class="menu-verticle-container">
				<div class="menu-verticle">
					<span><a href="#home">Home</a></span>
					<span><a href="#about">about</a></span>
					<span><a href="#skills">Skills</a></span>
					<!-- <span><a href="#services">Services</a></span> -->
					<span><a href="#contact">Contact</a></span>
				</div>
			</div>

		</div>

	</div>
	<div class="home" id="home">
		<div class="profile-container">
			<img src="img/profile2.jpg">
		</div>
		<div class="intro-text-container">
			<span id="hi">Hi...</span><br>
			<span id="mynametext">My name is <br> <span id="myname">Myat Thura soe</span></span><br>
			<span id="iam">& I am a <br><span id="webdeveloper">MERN-Stack Web Developer</span></span>

		</div>

	</div>
	<div class="about" id="about">

		<div class="about-text-container">
			<h2 data-aos="fade-down" data-aos-easing="linear" data-aos-anchor-placement="top-bottom">&#147;About
				me&#148;</h2>
			<p data-aos="fade-up" data-aos-anchor-placement="top-bottom">&nbsp;&nbsp;&nbsp;&nbsp;I am a Computer Science
				& Engineering student studying at Myanmar Institute of
				information Technology. My goal is to become a Full-stack Web developer. I am passionated in problem
				solving and application developement. I am still undergraduate due to Covid-19 pandemic.
				<!--  I had in touch with programming languages ( C, Java, Python, Dart ). -->
				<!-- I am enthusiastic in web application developement and decided to choose my career as a web application developer. -->
				I am working on MERN-Stack (MongoDB, ExpressJs, ReactJs, NodeJs) web application developement.
				<!--  I also use some tools like JQuery, AJAX and familier in using Github, Docker. I have the favour using hosting platforms as AWS, DigitalOceans and Heroku. -->
			</p>
			<hr>
		</div>
		<br>
		<br>


	</div>
	<div class="skills" id="skills">
		<div class="skills-container">
			<h2>Skills</h2>
			<div class="skill-icons-container">
				<div class="skill" title="HTML">
					<img src="img/html.png">
				</div>
				<div class="skill" title="CSS">
					<img src="img/css.png">
				</div>
				<div class="skill" title="Javascript">
					<img src="img/javascript.png">
				</div>
				<div class="skill" title="NodeJs">
					<img src="img/nodejsicon.png">
				</div>
				<div class="skill" title="ExpressJs">
					<img src="img/expressjsicon.png">
				</div>
				<div class="skill" title="React Js">
					<img src="img/reactjsicon.png">
				</div>
				<div class="skill" title="MongoDB">
					<img src="img/mongodbicon.png">
				</div>
				<div class="skill" title="MySQL">
					<img src="img/mysql.png">
				</div>


			</div>

		</div>
		<div class="dev-tools">

			<fieldset>
				<legend>Dev tools</legend>
				<ul>
					<li>Github</li>
					<li>Docker</li>
					<li>AWS</li>
					<li>Heroku</li>
				</ul>
			</fieldset>

		</div>

	</div>
	<!-- <div class="services" id="services">
		
	</div> -->
	<div class="contact" id="contact">
		<div class="contact-container">
			<div class="contact-head">
				<h3>Contact</h3>
				<div class="contact-icons">
					<a href="mailto: myatthu.dev@gmail.com"><img src="img/gmailicon.png"></a>
					<a href="https://www.linkedin.com/in/myatthurasoe/"><img src="img/linkedinicon.png"></a>
					<!-- <img src="img/skypeicon.png"> -->
					<!-- <a href=""><img src="img/twitter.png"></a> -->
					<a href="https://github.com/MyatThuraSoe"><img src="img/githubicon.png"></a>
					<a href="https://www.facebook.com/myatthu.leo"><img src="img/fbicon.png"></a>
				</div>
			</div>

			<div class="contact-body">
				<div class="contact-left">
					<div class="contact-left-container" data-aos="fade-right" data-aos-offset="300"
						data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
						<div><a
								href="https://www.google.com/maps/place/21%C2%B058'54.6%22N+96%C2%B004'46.7%22E/@21.9824477,96.0770002,15.46z/data=!4m14!1m7!3m6!1s0x30cb6d23f0d27411:0x24146be01e4e5646!2sMandalay!3b1!8m2!3d21.9588282!4d96.0891032!3m5!1s0x30cb6d27ec78cc9f:0xe40b4065307e55ad!7e2!8m2!3d21.9818216!4d96.0796452"><img
									src="img/location.png"></a>&nbsp;&nbsp;<span>Mandalay, Myanmar</span></div><br>
						<div><a href="tel:+959776697907"><img
									src="img/phoneicon2.png"></a>&nbsp;&nbsp;<span>+959776697907</span></div><br>
						<div><a href="mailto: myatthu.dev@gmail.com"><img
									src="img/emailicon.png"></a>&nbsp;&nbsp;<span>myatthu.dev@gmail.com</span></div>
					</div>
				</div>
				<div class="contact-right">
					<div class="contact-right-container" data-aos="zoom-in">
						<h3>Any Message?</h3>
						<form method="post" action="/submitfeedback">
							<div><label for="feedbackname">Name:</label><input type="text" name="feedbackname"
									id="feedbackname"></div>
							<div><label for="feedbackemail">Email:</label><input type="email" name="feedbackemail"
									id="feedbackemail"></div>
							<div><label for="feedbackmessage">Message:</label><textarea name="feedbackmessage"
									id="feedbackmessage"></textarea></div>
							<button type="submit" id="feedbacksubmit">Submit</button>
						</form>
					</div>

				</div>
			</div>

		</div>
	</div>
	<div class="footer">
		Copyright © and All right reserved
	</div>
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
	<script type="text/javascript" src="js/app.js"></script>
</body>

</html>